Repository kolominproduction/tasky-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx stylelint

.lintstagedrc:

{
  "**/*.{ts,tsx,json}": "npx prettier --write",
  "./src/**/!(*spec|*test|*d).{ts,tsx}": "npx eslint --fix",
  "./src/**/*.css": "npx stylelint"
}

ci: add pullreq check
  .github/workflows/check-pr.yml
Due: none

fix: delete test
  src/index.test.ts
Due: npx prettier --write

ci: fixed jobs
  .github/workflows/check-pr.yml
  config/jest/jest.config.ts
  reports/jest-html-reporters-attach/jest-report/index.js
  reports/jest-html-reporters-attach/jest-report/result.js
  reports/jest-report.html
  reports/jest/report.html
Due: npx prettier --write

ci: fix deploy report
  .github/workflows/check-pr.yml
Due: none

ci: fix deploy report
  .github/workflows/check-pr.yml
  .gitignore
  reports/jest/report.html
Due: none

ci: fix
  .github/workflows/check-pr.yml
Due: none

ci: final fix
  .github/workflows/check-pr.yml
  src/testComponent/TestComponent.spec.tsx
Due: npx prettier --write

build: update eslint config
  .github/workflows/check-pr.yml
  .lintstagedrc
  .prettierrc.json
  eslint.config.mjs
  package-lock.json
  package.json
  src/app/App.tsx
  src/shared/ui/Button/Button.tsx
  src/testComponent/TestComponent.tsx
  stylelint.config.mjs
  tsconfig.json
Due: npx prettier --write

build: add storybook, loki
  .gitignore
  .loki/.gitignore
  .loki/reference/chrome_iphone7_shared_Button_Primary.png
  .loki/reference/chrome_laptop_shared_Button_Primary.png
  config/storybook/main.ts
  config/storybook/preview.ts
  config/webpack/webpackLoaders.ts
  package-lock.json
  package.json
  src/app/App.tsx
  src/app/styles/index.css
  src/app/styles/variables/colors.css
  src/shared/ui/Button/Button.module.css
  src/shared/ui/Button/Button.stories.tsx
  src/shared/ui/Button/Button.tsx
  src/shared/ui/Button/index.ts
Due: npx prettier --write, npx stylelint

build: add storybook, loki
  .gitignore
  .loki/.gitignore
  .loki/reference/chrome_iphone7_shared_Button_Primary.png
  .loki/reference/chrome_laptop_shared_Button_Primary.png
  config/storybook/main.ts
  config/storybook/preview.ts
  config/webpack/webpackLoaders.ts
  package-lock.json
  package.json
  reg.json
  reports/storybook/report.html
  src/app/App.tsx
  src/app/styles/index.css
  src/app/styles/variables/colors.css
  src/shared/ui/Button/Button.module.css
  src/shared/ui/Button/Button.stories.tsx
  src/shared/ui/Button/Button.tsx
  src/shared/ui/Button/index.ts
Due: npx prettier --write, npx stylelint

feat: add routing
  .gitignore
  config/webpack/webpackOutput.ts
  package-lock.json
  package.json
  reports/storybook/report.html
  src/app/providers/router/config/router.tsx
  src/app/providers/router/index.ts
  src/index.tsx
  src/pages/app/Dashboard/index.ts
  src/pages/app/Dashboard/ui/Dashboard.lazy.tsx
  src/pages/app/Dashboard/ui/Dashboard.tsx
  src/pages/auth/LoginPage/index.ts
  src/pages/auth/LoginPage/ui/LoginPage.lazy.ts
  src/pages/auth/LoginPage/ui/LoginPage.tsx
  src/pages/landing/MainPage/index.ts
  src/pages/landing/MainPage/ui/MainPage.lazy.ts
  src/pages/landing/MainPage/ui/MainPage.tsx
  src/shared/config/router/routes.ts
  src/shared/hooks/useLocaleStorage.ts
Due: npx prettier --write
